<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.socoolbear.magic-trackpad</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>1B2C3D4E-0001-4000-8000-000000000001</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1B2C3D4E-0002-4000-8000-000000000002</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1B2C3D4E-0002-4000-8000-000000000002</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1B2C3D4E-0003-4000-8000-000000000003</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>socoolbear</string>
	<key>description</key>
	<string>Magic Trackpad 페어링 토글 (연결 중이면 해제, 아니면 재페어링)</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Magic Trackpad</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>trackpad</string>
				<key>subtext</key>
				<string>연결 중이면 해제, 아니면 재페어링</string>
				<key>text</key>
				<string>Magic Trackpad 페어링 토글</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>1B2C3D4E-0001-4000-8000-000000000001</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>"$HOME/.local/bin/magic-trackpad"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>1B2C3D4E-0002-4000-8000-000000000002</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Magic Trackpad</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>1B2C3D4E-0003-4000-8000-000000000003</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Alfred 에서 `trackpad` 입력 후 Enter.
스크립트: ~/.local/bin/magic-trackpad (dotfiles scripts/magic-trackpad-toggle.sh)</string>
	<key>uidata</key>
	<dict>
		<key>1B2C3D4E-0001-4000-8000-000000000001</key>
		<dict>
			<key>xpos</key>
			<real>50</real>
			<key>ypos</key>
			<real>50</real>
		</dict>
		<key>1B2C3D4E-0002-4000-8000-000000000002</key>
		<dict>
			<key>xpos</key>
			<real>300</real>
			<key>ypos</key>
			<real>50</real>
		</dict>
		<key>1B2C3D4E-0003-4000-8000-000000000003</key>
		<dict>
			<key>xpos</key>
			<real>550</real>
			<key>ypos</key>
			<real>50</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
